.ul_txt {
			    list-style-type: none;
			    margin: auto;
			    padding: 0;
			    width: 95%;
			    background-color: #f1f1f1;
			}

			.li_txt .a_txt {
			    display: block;
			    color: #000;
			    padding: 8px 16px;
			    text-decoration: none;
			}

			/* Change the link color on hover */
			.li_txt .a_txt:hover {
			    background-color: #555;
			    color: white;
			}

			.section-gap {
			    padding: 15px 0;
			}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
