<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FamiChat</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <link href="https://fonts.googleapis.com/css?family=Biryani" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/ionic/css/style.css" rel="stylesheet">

</head>
<body ng-app="homeMenu" ng-controller="homeMenuCtrl" ng-controller="joinRoomCtrl">
  <ion-side-menus>

    <ion-side-menu-content class="background-color">
      <h1 style="font-family: 'Biryani', sans-serif;">FamiChat</h1>
      <div class="all-buttons">
          <button class="button button-block btn-color" ng-click="toChatModal();">Start Chat</button>
          <button class="button button-block btn-color" ng-click="joinRoom();">Join Chat</button>
          <button class="button button-block btn-color" ng-click="quitApp();">Quit</button>
      </div>

    </ion-side-menu-content>

  </ion-side-menus>
</body>
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="js/app.js"></script>
<script src="cordova.js"></script>

<!--creatig new pages -->

<script id="chatModal.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->

      <ion-header-bar class="bar-secondary">
        <h1 class="title" style="padding: 0px;"> </h1>
        <button class="button button-clear button-positive" ng-click="closeChatModal()">Cancel</button>
      </ion-header-bar>

      <!-- Modal content area -->
      <div id="toChatDiv">
      <ion-content>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="toChat()">Start New Chat</button>
        </div>

        <hr style="color: #ddd; background-color: blue; border: 0.5px solid #ddd;"/>
        <h2 class="title" style="text-align:center; margin-top: 10px;">Previous Chats</h2>
        <div>
          
          <ion-list>
        <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
          {{project.title}}
        </ion-item>
      </ion-list>

        </div>

        </div>
        <div id="joinRoomDiv">
          <br><br>
          <h3 class="title" style="padding: 0px; text-align:center;">Join a chat</h3>
            <form ng-submit="toChat_join(task.title)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Enter chat number." ng-model="task.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Join Chat</button>
            </div>
          </form>
        </div>

      </ion-content>


  </div>
</script>

</html>